# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# OS/system files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Optional cache folders
.cache/
.vite/
.next/
out/

# Coverage reports
coverage/

# IDEs
.vscode/
.idea/
*.swp

# PM2 logs
pids/
*.pid
*.seed
*.pid.lock

# Docker
docker-compose.override.yml
*.local.yml

# Misc
*.tgz
*.bak
*.old
